@import url('https://fonts.googleapis.com/css2?family=Script+MT+Bold&display=swap');
body {
    overflow-x: hidden;
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link.active {
    color: black !important;
    font-weight: bold;
}


.logo-img {
    max-width: 48px;
}

.movimiento {
    transition: transform 0.3s ease;
}

.movimiento:hover {
    transform: translateY(-10px);
}

.navbar {
    background-color: aliceblue;
    background-image: radial-gradient(circle farthest-corner at 25% -20%, rgba(255, 188, 111, 0.712), hsla(355, 100%, 73%, 0.788) 52%), radial-gradient(circle farthest-corner at 100% 0%, rgba(239, 222, 159, 0.08), hsla(243, 85%, 58%, 0) 25%);
}

.img{
    max-width: 80%;
}

p{
    font-family: 'Script MT Bold';
    font-size: 160%;
    color: rgb(0, 0, 0);
}